@font-face {
  font-family: Cursed;
  src: url(fonts/CursedTimerUlil-Aznm.ttf)
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
    margin: 0;
          color: #fff;
          background: #F94F6D;
}

.container {
     display: flex;
     flex-direction: column;
     justify-content: space-around;
    background: #1B244A;
    border:#fff solid;
    padding: 50px;
    border-radius: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: auto;
    width: 525px;
    height: 385px;
}
#home{
    margin-right:100px;
}
.scores-display{
    display: flex;
    margin: auto;
}

.team-side{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: space-around;
}

.team{
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 20px;
}
.score{
    color: #F94F6D;
    font-size: 90px;
    background: #000;
      font-family: Cursed;
      padding: 20px 20px 0px 20px;
      border-radius: 10px;
      margin-bottom: 20px;
}
.score-buttons{
    display: flex;
}

button{
    border: #9AABD8 solid 1px;
    border-radius: 5px;
    text-align: center;
    margin: 0 5px;
    padding: 5px;
    background: none;
            cursor: pointer;
            outline: none !important;
            color: #9AABD8;
            font-size: 18px;
                 font-family: Cursed;
}
#resetButton{
    color: red;
    text-align: center;
    border: solid 2px red;
    width: 20%;
    margin: 0 auto;
    padding: 10px 0;
    border-radius: 50px;
    font-weight: bold;
    text-transform: uppercase;
}